{% extends "chats/main.html" %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <div>
        <p class="fs-1 text-center">Chat Hub</p>
        <div class="card" style="max-width: 100rem;">
            <div class="card-body">
              <p class="card-text fw-bolder">Stay in touch with your inner circle through private and secure friend chats. Share thoughts, ideas, and experiences in real-time, no matter where your friends are located.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item fw-bolder">ChatHub is more than just a chat application; it's a place where you can connect with the people who matter most and explore new communities that pique your interests. We strive to foster a sense of belonging and create an inclusive space where you can express yourself freely.</li>
              <li class="list-group-item fw-bolder">Whether you want to catch up with friends, join discussions about your favorite hobbies, or discover new passions, ChatHub is the go-to social hub for all your needs. Join the ChatHub community today and experience a seamless and enriching social experience like never before. Get connected, get chatting, and be part of something extraordinary!




              </li>
              <li class="list-group-item fw-bolder">Please respect each other's space. Hope you guys will enjoy this </li>
            </ul>

          </div>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">Created and maintained by Mir Mudasir</p>
              <a href="https://www.instagram.com/_saad_writes629_/" target="_blank" class="btn btn-light"><span class="ig_logo"><i class="fa-brands fa-instagram"></i></span></a>
              <a href="https://www.facebook.com/mudi.mudi.1234/" target="_blank" class="btn btn-light"><span class="ig_logo"><i class="fa-brands fa-facebook"></i></span></i></a>
              <a href="https://twitter.com/Mirmuda72765208" target="_blank" class="btn btn-light"><span class="ig_logo"><i class="fa-brands fa-twitter"></i></i></span></i></a>
            </div>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
{% endblock %}